<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Lista de Alunos</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list>
		<ion-item (click)="onClick('Anthony Cruz', '201810202343', '07-09-2020', 'anthony.c2000@aluno.ifsc.edu.br', 'anthony.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/anthony.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Anthony Cruz</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Eduardo Silverio', '201810202559', '07-09-2020', 'eduardo_schwambach@outlook.com', 'eduardo.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/eduardo.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Eduardo Silverio</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Lucas Gois', '201810209728', '07-09-2020', 'lucas.a04@aluno.ifsc.edu.br', 'lucas.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/lucas.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Lucas Gois</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Lucas Mattos', '201810204354', '07-09-2020', 'Lucas.M031@aluno.ifsc.edu.br', 'lucasmattos.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/lucasmattos.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Lucas Mattos</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Lucas Schissel', '1710039302', '07-09-2020', 'lucas.s32@aluno.ifsc.edu.br', 'lucas3.JPG')">
			<ion-avatar slot="start">
				<img src="../../assets/images/lucas3.JPG" />
			</ion-avatar>
			<ion-label>
				<h2>Lucas Schissel</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Marcos Fernandes', '1720052948', '07-09-2020', 'marcos.g01@aluno.ifsc.edu.br', 'marcos.png')">
			<ion-avatar slot="start">
				<img src="../../assets/images/marcos.png" />
			</ion-avatar>
			<ion-label>
				<h2>Marcos Fernandes</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Moacir Prates', '201810202698', '07-09-2020', 'moatonchak1@gmail.com', 'moacir.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/moacir.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Moacir Prates</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Robson Venturin', '201810207273', '07-09-2020', 'robson.v1996@aluno.ifsc.edu.br', 'robson.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/robson.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Robson Venturin</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Samuel Cardoso', '201810209674', '07-09-2020', 'samuelcard98@gmail.com', 'samuel.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/samuel.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Samuel Cardoso</h2>
			</ion-label>
		</ion-item>

		<ion-item (click)="onClick('Vinicius Bortolini', '201810202307', '07-09-2020', 'vinibortolini01@gmail.com', 'vinicius.jpg')">
			<ion-avatar slot="start">
				<img src="../../assets/images/vinicius.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Vinicius Bortolini</h2>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
