<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Calculadora de IMC </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<ion-item>
			<ion-label position="stacked">Altura (ex: 1.70)</ion-label>
			<ion-input required type="text" [(ngModel)]="edtAltura" name="altura"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Peso (ex: 75.2)</ion-label>
			<ion-input required type="text" [(ngModel)]="edtPeso" name="peso"></ion-input>
		</ion-item>
	</ion-list>
	<form (ngSubmit)="onCalcularClick()">
		<div class="ion-padding">
			<ion-button expand="block" type="submit" class="ion-no-margin">Calcular</ion-button>
		</div>
	</form>
	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<ion-item>
			<ion-label position="stacked" color={{cor}}>{{resultado}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
